
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">Contact: +420 111 111 111</li>
                    <li class="nav-item">E-mail: test@test.com</li>
                </ul>
            </div>
    
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">  
                <span class="navbar-nav ml-auto nav-item">©HB</span>
            </div>
        </div>
    </nav>




