.post-detail {
    padding: 30px;

    &__image {
        max-width: 85%;
        height: auto;
        padding-bottom: 15px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 15px;
    } 

    &__perex {
        padding-bottom: 15px;
    }
}

.badge-secondary {
    padding: 5px;
    margin: 2px 2px;
    font-weight: 400;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}