:host {
    display: block;
}

.button {

}

.flex {
    display: flex;
}

.align {
    flex: 1;
    text-align: right;
}

button {
    margin-left: 5px;
}

.icon {
    width: 30px;
    height: 30px;
    padding: 3px;
}