.posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.post {
    padding: 20px 10px;
    width: calc(100%/3);
}

.pagination {
    display: block;
    text-align: right;
    padding: 40px 0px;
}

.input-group {
    padding: 8px;

}

form {
    padding: 20px;
}

    .btn-default {
        margin: 0px;
        padding: 6px 10px;
        border: 1px solid #ced4da;
    }

    .fa-search {
        color: #ced4da;
    }
        
        .fa-search:hover {
            color: #000000;
        }

        .categories-menu {
            padding: 20px 20px;
        }
        
            a {
                color: #212529; 
            }
        
                a:hover {
                    color: #ffffff;
                }
        
                .btn-category {
                    padding: 0px;
                    margin: 0px;
                    border: 0px
                }

                .navbar {
                    padding: 20px;
                }


