.posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.post {
    padding: 20px 15px;
    width: calc(100%/3);
}

.pagination {
    display: block;
    text-align: right;
    padding: 40px 0px;
}

