<div class="container categories-menu">
    <div class="row">
        <div class="col-md-9">
            <nav class="navbar navbar-expand-md">
                <ul class="nav nav-pills">
                    <li class="nav-item" >
                        <button class="btn btn-outline-dark btn-category"(click)="categoryFilter('')">
                            <a class="nav-link" data-toggle="pill">All</a>
                        </button>
                    </li>
                    <div *ngFor="let category of categories">
                        <li class="nav-item" >
                            <button class="btn btn-outline-dark btn-category"(click)="categoryFilter(category._id)">
                                <a class="nav-link" data-toggle="pill">{{category.name}}</a>
                            </button>
                        </li>
                    </div>
                </ul>  
            </nav>
        </div>
        <div class="col-md-3">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <div class="input-group">
                  <input type="text" class="form-control search" formControlName="search" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div *ngIf="postsPageable !== undefined">
        <div     
        *ngFor="let post of posts | paginate: { 
            itemsPerPage: postsPageable.pagination.limit, 
            currentPage: p,
            totalItems: postsPageable.pagination.total
            }">
            <div class="posts">
                <app-post class="post" *ngFor="let post of posts" [post]="post">
                </app-post>
            </div>
        </div>
    </div> -->
    <div *ngIf="postsPageable !== undefined">
        <div class="posts">
            <app-post 
            class="post" 
            *ngFor="let post of posts | paginate: { 
                    itemsPerPage: query.limit, 
                    currentPage: page,
                    totalItems: postsPageable.pagination.total
                    }" 
            [post]="post">
            </app-post>
        </div>
    </div>
    <div class="pagination" *ngIf="this.total > this.query.limit">
        <pagination-controls 
            (pageChange)= "pageChanged($event)"
            maxSize="10"
            directionLinks="true">
        </pagination-controls>
    </div>
    
    
</div>
