.categories-menu {
    padding: 20px 20px;
}

    a {
        color: #212529; 
    }

        a:hover {
            color: #6c757d;
        }

form {
    max-width: 250px;
    padding: 6px 0px !important;
}

    .btn-default {
        margin: 0px;
        padding: 6px 10px;
        border: 1px solid #ced4da;
    }

    .fa-search {
        color: #ced4da;
    }
        
        .fa-search:hover {
            color: #000000;
        }
        
