<div class="categories-menu row"> 
    <nav class="navbar navbar-expand-md col-md-9">
        <ul class="nav nav-pills">
            <li class="nav-item" >
                <a class="nav-link" routerLinkActive="active bg-dark" [routerLinkActiveOptions]="{exact: true}" data-toggle="pill" routerLink="/archive">All</a>
            </li>
            <div *ngFor="let category of categories">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active bg-dark" data-toggle="pill" (click)="categoryFilter($event)">{{category.name}}</a>
                </li>
            </div>
        </ul>  
    </nav>
    <div class="col-md-3">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="input-group">
              <input type="text" class="form-control search" formControlName="search" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
        </form>
    </div>
</div>