.container {
    max-width: 800px;
}

.dashboard {
    padding: 20px;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: #ffffff;

    &__box {
        max-width: 170px;
        padding: 25px 5px;
    }
}

.loading:after {
    content: ".";
    animation: dots 2s linear infinite;
}

@keyframes dots {
    0%,
    30% {
        content: ".";
    }
    60% {
        content: "..";
    }
    90%,
    100% {
        content: "...";
    }
}
