<div class="container">
    <div class="dashboard row">
        <div class="col-md-4">
            <div class="statistics">
                <div>POSTS</div>
                <div *ngIf="postsArr === undefined">...</div>
                <div *ngIf="postsArr !== undefined">{{postsArr.length}}</div>
            </div>
       </div>
       <div class="col-md-4">
           <div class="statistics">
                <div>CATEGORIES</div>
                <div *ngIf="categoriesArr === undefined">...</div>
                <div *ngIf="categoriesArr !== undefined">{{categoriesArr.length}}</div>
           </div>
      </div>
      <div class="col-md-4">
          <div class="statistics">
            <div>USERS</div>
            <div *ngIf="usersArr === undefined">...</div>
            <div *ngIf="usersArr !== undefined">{{usersArr.length}}</div>
          </div>
       </div>
    </div>
</div> 