.header {
    padding: 20px 15px;
}

.btn-success {
    width: 140px;
    margin: 0px;
    margin-bottom: 20px;
}

.filter {
    padding: 15px 15px;
    font-weight: 700;
    border-bottom: 1px solid #6c757d60;

    &__category {
        max-width: 150px;
        padding: 6px 10px;
    }

    form {
        max-width: 150px;
    }
}

.btn-default {
    margin: 0px;
    padding: 6px 10px;
    border: 1px solid #ced4da;
}

.fa-search {
    color: #ced4da;

    &:hover {
        color: #000000;
    }
}

.post {
    padding: 15px;
    border-bottom: 1px solid #6c757d60;

    &__image {
        width: 160px;
        height: 100px;
    }

    &__title {
        font-weight: 600;
        padding-bottom: 5px;

        a {
            color: #212529;
        
            &:hover {
                color: #6c757d;
            }
        }
    }

    &__perex {
        max-width: 700px;
        padding-bottom: 15px;
    }
}

.badge-secondary {
    padding: 5px;
    margin: 2px 2px;
    font-weight: 400;
}

.pagination {
    display: block;
    text-align: right;
    padding: 40px 0px;
}




