<div class="container">
    <div class="row header">
        <div class="col-md-8">
            <h3>List of posts</h3>
        </div>
        <!-- <div class="col-md-3">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <div class="input-group">
                  <input type="text" class="form-control search" formControlName="search" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>
        </div> -->
        <div class="form-group col-md-2">
            <select class="form-control selected" id="roles" (change)="onChange($event)">
                <option selected >Categories</option>
                <option *ngFor="let category of categories" value="{{category._id}}" >{{category.name}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <div class="input-group">
                  <input type="text" class="form-control search" formControlName="search" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-2">
            <button class="btn btn-success" routerLink="/admin/posts/create">New Post</button>
        </div> -->
    </div>
    <div class="row headline">
        <div class="col-md-2">Picture</div>
        <div class="col-md-8">Name</div>
        <div class="col-md-2">
            <button class="btn btn-success" routerLink="/admin/posts/create">New Post</button>
        </div>
        <!-- <div class="form-group col-md-2">
            <select class="form-control selected" id="roles" (change)="onChange($event)">
                <option selected >Categories</option>
                <option *ngFor="let category of categories" value="{{category._id}}" >{{category.name}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <div class="input-group">
                  <input type="text" class="form-control search" formControlName="search" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>
        </div> -->

    </div>
    <div *ngIf="postsPageable !== undefined">
        <div class="post row" 
        *ngFor="let post of posts | paginate: { 
            itemsPerPage: query.limit, 
            currentPage: p,
            totalItems: postsPageable.pagination.total
            }" >
            <div class="col-md-2">
                <img src="{{ post.img }}" class="image" alt="" placeholder="https://www.cheopstech.cz/wp-content/uploads/2017/06/placeholder-1.png">
            </div>
            <div class="col-md-8">
                <div class="title">{{ post.title }}</div>
                <div class="perex">{{ post.perex | slice:0:100 }}... </div>
                <div><span *ngFor="let category of categories"> | {{ category.name }} </span></div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" routerLink="/admin/posts/edit/{{post.slug}}">Upd</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" (click)="onDeletePost(post._id)">Del</button>
            </div>
          </div>
    </div>
    <div class="pagination" *ngIf="this.total > this.query.limit">
        <pagination-controls 
            (pageChange)= "pageChanged($event)"
            maxSize="10"
            directionLinks="true">
        </pagination-controls>
    </div>
</div>
