    .header {
        padding: 20px 15px;
    }

    .post {
        padding: 15px;
        border-bottom: 1px solid #6c757d60 ;
    }


        .image {
            width: 160px;
            height: 100px;
        }

        .title {
            font-weight: 600;
            padding-bottom: 5px;
        }   
        
        a {
            color: #212529; 
        }
        
            a:hover {
                color: #6c757d;
            }

        .perex {
            max-width: 700px;
        }

.headline {
    padding: 15px 15px;
    font-weight: 700;
    border-bottom: 1px solid #6c757d60 ;
}

.cat-sel {
    max-width: 150px;
    padding: 6px 10px
}

form {
     max-width: 150px;
     //padding: 6px 0px !important;
    }

    .fa-search {
        color: #ced4da;
    }
            
    .fa-search:hover {
        color: #000000;
    }
            
    .btn-default {
        margin: 0px;
        padding: 6px 10px;
        border: 1px solid #ced4da;
    }

    .btn-success {
        width: 140px;
        margin: 0px;
        margin-bottom: 20px;
    }

    .pagination {
        display: block;
        text-align: right;
        padding: 40px 0px;
    }

.perex {
    padding-bottom: 15px;
}

.post-categories {
    font-size: 16px;
}

.badge-secondary {
    padding: 5px;
    margin: 2px 2px;
    font-weight: 400;
}

