.admin-menu {
    padding: 20px 0px;
}

    a {
        color: #212529; 
    }

        a:hover {
            color: #6c757d;
        }

.dashboard {
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

    .statistics {
        background-color: #6c757d;
        border-radius: 8px;
        max-width: 140px;
        padding: 15px 5px;
    }

    .statistics div {
        padding: 5px;
    }