<div class="container">
    <div class="admin-menu"> 
        <nav class="navbar navbar-expand-md">
            <ul class="nav nav-pills">
                <li class="nav-item" >
                    <a class="nav-link" routerLinkActive="active bg-dark" [routerLinkActiveOptions]="{exact: true}" data-toggle="pill" routerLink="/admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active bg-dark" data-toggle="pill" routerLink="/admin/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active bg-dark" data-toggle="pill" routerLink="/admin/posts">Posts</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLinkActive="active bg-dark" data-toggle="pill" routerLink="/admin/users">Users</a>
                </li>
            </ul>  
        </nav>
    </div>
    <!-- <div class="dashboard row">
        <div class="col-md-4">
            <div class="statistics">
                <div>POSTS</div>
                <div>{{postsNumber}}</div>
            </div>
       </div>
       <div class="col-md-4">
           <div class="statistics">
                <div>CATEGORIES</div>
                <div>{{categoriesNumber}}</div>
           </div>
      </div>
      <div class="col-md-4">
          <div class="statistics">
            <div>USERS</div>
            <div>{{usersNumber}}</div>
          </div>
       </div>
    </div>
</div> -->
<router-outlet></router-outlet>
