.header {
    padding: 30px 15px;
}

.user {
    padding: 5px 15px;
    border-bottom: 1px solid #6c757d60 ;
}

.col-md-2 {
    padding: 15px;
}

.btn-success {
    width: 140px;
}


.pagination2 {
    display: block;
    text-align: right;
    padding: 40px 0px;
}

