<div class="container">
    <div class="header row">
        <div class="col-md-10">
            <h3>List of users</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" routerLink="/admin/users/create">New User</button>
        </div>
    </div>
    <div class="filter form-group row">
        <div class="col-md-7">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <label for="search" class="filter__label">E-mail</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="search" id="search" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group col-md-5">
            <label for="roles" class="filter__label">Roles</label>
            <select class="form-control col-md-6 filter__roles" id="roles" (change)="onChange($event)">
                <option selected >All</option>
                <option *ngFor="let role of roles" value="{{role}}" >{{role}}</option>
            </select>
        </div>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>
    <div *ngIf="usersPageable !== undefined">
        <div 
        class="user row" 
        *ngFor="let user of users | paginate: { 
            itemsPerPage: query.limit, 
            currentPage: page,
            totalItems: usersPageable.pagination.total
            }">
            <div class="col-md-7">
                <div>{{user.email}}</div>
            </div>
            <div class="col-md-3">
                <div>{{user.roles}}</div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" [disabled]="disabledBtn" routerLink="/admin/users/edit/{{user._id}}">Upd</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" [disabled]="disabledBtn" (click)="onDeleteUser(user._id)">Del</button>
            </div>    
        </div>
        <div class="pagination" *ngIf="this.total > this.query.limit">
            <pagination-controls 
                (pageChange)= "pageChanged($event)"
                maxSize="10"
                directionLinks="true">
            </pagination-controls>
        </div>
    </div>
</div>

