<div class="container">
    <div class="row header">
        <div class="col-md-10">
            <h3>List of users</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" routerLink="/admin/users/create">New User</button>
        </div>
    </div>
    <div *ngIf="usersPageable !== undefined">
        <div 
        class="user row" 
        *ngFor="let user of users | paginate: { 
            itemsPerPage: query.limit, 
            currentPage: p,
            totalItems: usersPageable.pagination.total
            }">
            <div class="col-md-7">
                <div class="email">{{user.email}}</div>
            </div>
            <div class="col-md-3">
                <div class="role">{{user.roles}}</div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" [disabled]="disabledBtn" routerLink="/admin/users/edit/{{user._id}}">Upd</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" [disabled]="disabledBtn" (click)="onDeleteUser(user._id)">Del</button>
            </div>    
        </div>
        <div class="pagination" *ngIf="this.total > this.query.limit">
            <pagination-controls 
                (pageChange)= "pageChanged($event)"
                maxSize="10"
                directionLinks="true">
            </pagination-controls>
        </div>
    </div>
</div>

