.header {
    padding:20px 15px;
}

.btn-success {
    width: 140px;
    margin: 0px;
}

.filter {
    padding: 15px 15px;
    border-bottom: 1px solid #6c757d60 ;

    form {
        max-width: 150px;
        padding: 6px 0px !important;
    }

    &__label {
        padding: 10px 0px;
        font-weight: 700;
    }

    &__roles {
        max-width: 150px;
        padding: 6px 10px;
    }
}

.btn-default {
    margin: 0px;
    padding: 6px 10px;
    border: 1px solid #ced4da;
}

.fa-search {
    color: #ced4da;

    &:hover {
        color: #000000;
    }
}

.user {
    padding: 5px 15px;
    border-bottom: 1px solid #6c757d60 ;
}

.pagination {
    display: block;
    text-align: right;
    padding: 40px 0px;
}

