<div class="container">
    <div class="row header">
        <div class="col-md-3">
            <h3>List of users</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" routerLink="/admin/users/create">New User</button>
        </div>
    </div>
    <div class="user row" *ngFor="let user of users">
         <div class="col-md-4">
              <div class="email">{{user.email}}</div>
        </div>
        <div class="col-md-4">
            <div class="role">{{user.roles}}</div>
      </div>
         <div class="col-md-2">
             <button class="btn btn-primary" (click)="onUpdateUser()">Upd</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" (click)="onDeleteUser()">Del</button>
        </div>    
    </div>
</div>

