.header {
    padding: 20px 15px;

    &__button {
        padding: 15px;
    }
}

.category {
    padding: 5px 15px;
    border-bottom: 1px solid #6c757d60;

    &__name {
        font-size: 18px;
        font-weight: 600;
    }
}

.btn-success {
    width: 140px;
}
