<div class="entity-form">
    <form [formGroup]="postForm" (ngSubmit)="onPostSubmit()">
        <h3>Create post</h3>
        <div class="form-group row">
            <label for="title" class="col-md-2">Title</label>
            <div class="col-md-10"> 
                <input type="text" class="form-control" formControlName="title" id="title" placeholder="Title">
                <span class="note" *ngIf="!postForm.get('title').valid && postForm.get('title').touched">Title is required.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="perex" class="col-md-2">Perex</label>
            <div class="col-md-10">
                <textarea type="text" class="form-control" formControlName="perex" id="perex" placeholder="Perex"></textarea>
                <span class="note" *ngIf="!postForm.get('perex').valid && postForm.get('perex').touched">Perex is required.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-md-2">Content</label>
            <div class="col-md-10">
                <textarea type="text" class="form-control" formControlName="content" id="content" placeholder="Content"></textarea>
                <span class="note" *ngIf="!postForm.get('content').valid && postForm.get('content').touched">Content is required.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="image" class="col-md-2">Image URL</label>
            <div class="col-md-10">
                <input type="text" class="form-control" formControlName="image" id="image" placeholder="Image URL">
            </div>
        </div>
        <div class="form-group row" >
            <label for="categories" class="col-md-2">All categories</label>
            <div class="col-md-10">
                <select multiple class="form-control" formControlName="categories" id="categories">
                    <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="note2 col-md-10">
                <span *ngIf="!postForm.valid && postForm.touched">Invalid form!</span>
            </div>
            <button type="submit" class="btn btn-success col-md-2" [disabled]="!postForm.valid">Save Post</button>
        </div>
    </form>
</div>