.alerts {
    position: fixed;
    right: 25px;
    bottom: 50px
}

.btn-outline-danger {
    margin: 0px 0px 0px 10px;
    padding: 0px 5px;
    border: 0px;
}

.btn-outline-danger:hover {
    color: #ffffff;
    background-color: #721c24;;
}

.btn-outline-danger:focus {
    box-shadow: none;
}

