<div class="entityForm">
    <form [formGroup]="categoryForm" (ngSubmit)="onCategorySubmit()">
        <h3>Create category</h3>
        <div class="form-group row">
            <label for="name" class="col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name of category">
                <span class="note" *ngIf="!categoryForm.get('name').valid && categoryForm.get('name').touched">Name is required.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="slug" class="col-md-2">Slug</label>
            <div class="col-md-10">
                <input type="text" class="form-control" formControlName="slug" id="slug" placeholder="Slug of category">
                <span class="note" *ngIf="!categoryForm.get('slug').valid && categoryForm.get('slug').touched">Slug is required.</span>
            </div>
        </div>
        <div class="row">
            <div class="note2 col-md-10">
                <span *ngIf="!categoryForm.valid && categoryForm.touched">Invalid form!</span>
            </div>
            <button type="submit" class="btn btn-success col-md-2" [disabled]="!categoryForm.valid">Save Category</button>
        </div>
    </form>
</div>